html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.hero {
  background: #f0f0f0;
  text-align: center;
}

.hero img {
  width: 250px;
  height: 250px;

}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.description {
  font-size: 1.1rem;
  max-width: 600px;
  text-align: center;
}

.steps li {
  list-style: none;
  margin: 1rem 0;
  font-size: 1.1rem;
}

.steps li::before {
  content: counter(step);
  counter-increment: step;
  background: black;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-right: 10px;
}

.steps {
  counter-reset: step;
  padding-left: 0;
}

.how-to-use {
  background: #f0f0f0;

}

.quick-tips {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.tip {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 600px;
  text-align: left;
}

.tip img {
  width: 100px;
  height: 100px;
}

.scroll-hint {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
  animation: bounce 2s infinite;
  z-index: 999;
  cursor: pointer;
}

button[type="button"] {
  padding: 15px;
  font-size: 14px;
  background-color: #3b0fd3;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  width: 100%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(8px);
  }
}